# =========================
# iOS 平台忽略规则
# =========================

# Xcode 用户数据
xcuserdata/
*.xcuserstate

# Xcode 构建产物
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
